fastapi==0.115.6
uvicorn[standard]==0.32.1
asyncpg==0.30.0
python-dotenv==1.0.1
pydantic==2.10.3
pydantic-settings==2.6.1
bcrypt==4.2.1
PyJWT==2.10.1
python-multipart==0.0.20
scikit-learn==1.5.2
imbalanced-learn==0.12.4
numpy==1.26.4
pandas==2.2.3
joblib==1.4.2
